body {
  box-sizing: border-box;
  height: 100vh;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}


.recipe-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.category-buttons {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: center;
  margin-bottom: 5%;
  text-align: center;
  width: 90vw;
}

.recipes-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media ( max-width : 1080px ) {

  body {
    width: 100vw;
  }

  .recipe-img {
    border-radius: 50%;
    height: 150px;
    width: 50%;
  }
}

@media screen and ( max-width : 768px ) {

  .recipe-img {
    border-radius: 50%;
    height: 100px;
    width: 80%;
  }
}


/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}
#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.info-img {
  width: 75px;
}
