/* Variáveis */
:root {

  --main-bg-color: white;

  --dark-purple: #41197f;

  --btn-bg-color: #fcc436;

  --header-bg-color : #fcdc36;

  --dark-pink: #e44343;
}

/* Global */
.main-container {
  background-color: var(--main-bg-color);
  border-radius: 5px;
  display: flex;
  height: 640px;
  justify-content: center;
  max-width: 360px;
}

input {
  border: 1px solid var(--dark-purple);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
}

input::placeholder {
  color: var(--dark-purple);
  font-weight: 400;
}

.defaultBtn {
  background-color: var(--btn-bg-color);
  border-radius: 5px;
  color: var(--main-bg-color);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 15rem;
}

.defaultBtn:hover {
  background-color: var(--header-bg-color);
  cursor: pointer;
}

.defaultBtn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

/* Login */
.login-container header {
  align-items: center;
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  height: 22rem;
}

.login-logo {
  height: auto;
  margin-top: 4rem;
  width: 12rem;
}

.login-banner {
  background: url('./images/tomate.png') , 50% / cover no-repeat;
  bottom: 3.5rem;
  position: relative;
}

.login-main-container {
  align-items: center;
  color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
}

.login-main-container h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

/* Footer */
footer {
  align-items: center;
  background-color: var(--dark-purple);
  border-radius: 0 0 5px 5px;
  display: flex;
  height: 4rem;
  justify-content: space-around;
  position: fixed;
  top: 576px;
  width: 360px;
}

.footerBtn:hover {
  opacity: 0.8;
}

/*  .. */
.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}

.recipe-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.category-buttons {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: center;
  margin-bottom: 5%;
  text-align: center;

  /* width: 90vw; */
}

.recipes-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* @media ( max-width : 1080px ) {

  .recipe-img {
    border-radius: 50%;
    height: 150px;
    width: 50%;
  }
} */

/* @media screen and ( max-width : 768px ) {

  .recipe-img {
    border-radius: 50%;
    height: 100px;
    width: 80%;
  }
} */


/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}
#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.info-img {
  width: 75px;
}
